#nm-applet &
hsetroot -solid '#000000'
spotifyd &
redshift &
keepassxc &
light-locker --lock-on-suspend &
#light-locker-command -i &
#sleep 10 && xscreensaver --nosplash &
picom --experimental-backend&
